@import "tailwindcss";
@theme {
  --color-blue-1: #60a5fa;
  --color-perpel-1: #a78bfa;
  --color-yellow-1: #fde047;
  --color-orange-1: #fbbf24;
  --color-greer-1: #4ade80;
  --color-greern-2: #22d3ee;
  --color-pink-2: #f472b6;
}